* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow-x: hidden;
}

header {
	text-align: center;
}

hr {
	background-color: #22ddff;
}

h1 {
	margin: 0;
	padding: 1rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 2.5em;
}

h2 {
	margin: 0;
	margin-bottom: 0.5em;
}

p {
	margin: 0;
	margin-bottom: 1em;
}

main {
	padding: 1em 12vw;
}

a {
	text-decoration: none;
	color: #0066ff;
}

.card {
	margin: 0 1em 1em 1em;
	padding: 1em;
	border: 1px solid #22bbff;
	border-radius: 0.1em;
}

.example-btn {
	margin-bottom: 1em;
	padding: 0.7em 1.2em;
	border: none;
	border-radius: 0.15em;
	text-transform: uppercase;
	box-shadow: inset 0 -0.6em 0 -0.3em rgba(0, 0, 0, 0.2);
	text-align: center;
	position: relative;
	cursor: pointer;
}

.example-btn:active {
	box-shadow: inset 0 -0.55em 0 -0.3em rgba(0, 0, 0, 0.2);
	top: 0.1em;
}

.btn-basic {
	background-color: #eeeeee;
}

.btn-error {
	background-color: #ff6633;
}

.btn-warning {
	background-color: #ffee33;
}

.btn-info {
	background-color: #6699ff;
}

.field {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 0.75em;
}

.field label {
	font-weight: bold;
}

.field input,
.field select {
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	transition: all 100ms linear;
	font-size: inherit;
	width: 15em;
	max-width: 100%;
}

.field input:focus {
	border-bottom-color: #22bbff;
}

#fire {
	padding: 0.5em 1em;
	background-color: #0055dd;
	color: white;
	text-transform: uppercase;
	border: none;
	border-radius: 0.15em;
	cursor: pointer;
	transition: all 100ms linear;
}

#fire:hover {
	background-color: #0044dd;
}

#fire:hover:active {
	padding: 0.5em 1.5em;
}

.toastfire-music {
	background-color: #1188aa;
	color: white;
}

.backforth {
	-webkit-animation: 0.8s infinite alternate backforth;
	animation: 0.8s infinite alternate backforth;
}

.toastfire-transition-spinout {
	-webkit-animation: 0.5s 1 forwards spinout;
	animation: 0.5s 1 forwards spinout;
}

#backdrop {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.fadein {
	-webkit-animation: 500ms 1 forwards fadein;
	animation: 500ms 1 forwards fadein;
}

.fadeout {
	-webkit-animation: 500ms 1 forwards fadeout;
	animation: 500ms 1 forwards fadeout;
}

@keyframes fadein {
	from {
		opacity: 0;
		display: none;
	}

	to {
		opacity: 1;
		display: block;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
		display: block;
	}

	to {
		opacity: 0;
		display: none;
	}
}

@keyframes backforth {
	from {
		transform: none;
	}

	33% {
		transform: rotate(-20deg);
	}

	67% {
		transform: rotate(20deg);
	}

	to {
		transform: none;
	}
}

@keyframes spinout {
	from {
		transform: none;
	}

	80% {
		transform: rotate(360deg);
	}

	to {
		opacity: 0;
	}
}