/*
 * Toastfire
 * A clean, simple, and customizable toast notification library!
 */

.toastfire {
	border-radius: 0.2em;
	box-sizing: border-box;
	max-width: 100%;
	opacity: 0.9;
	box-shadow: inset 0 0 2px 0.1em rgba(0, 0, 0, 0.25);
	margin-bottom: 0.5em;
	width: fit-content;
	display: flex;
	flex-direction: row;
	transition: max-height 250ms linear, margin-bottom 250ms linear;
	max-height: 50em;
}

.toastfire-content {
	padding: 0.8em;
}

.toastfire.toastfire-close-visible .toastfire-content {
	padding-right: 0.2em;
}

.toastfire-close {
	padding: 0.6em;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.toastfire-close:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.toastfire strong {
	display: block;
	margin-bottom: 0.1em;
}

.toastfire p {
	margin: 0;
}

.toastfire.toastfire-default {
	background-color: white;
}

.toastfire.toastfire-info {
	background-color: #6699ff;
}

.toastfire.toastfire-warning {
	background-color: #ffee11;
}

.toastfire.toastfire-error {
	background-color: #ff6633;
}

.toastfire-pos {
	display: flex;
	position: fixed;
	flex-direction: column;
}

.toastfire-closing {
	max-height: 0;
	margin-bottom: 0;
}

#toastfire-pos-top-left {
	flex-direction: column-reverse;
	top: 0.5em;
	left: 0.5em;
}

#toastfire-pos-top-middle {
	flex-direction: column-reverse;
	top: 0.5em;
	left: 50%;
	transform: translateX(-50%);
	align-items: center;
}

#toastfire-pos-top-right {
	flex-direction: column-reverse;
	top: 0.5em;
	right: 0.5em;
	align-items: flex-end;
}

#toastfire-pos-middle-left {
	top: 50%;
	left: 0.5em;
	transform: translateY(-50%);
}

#toastfire-pos-middle-middle {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
}

#toastfire-pos-middle-right {
	top: 50%;
	right: 0.5em;
	transform: translateY(-50%);
	align-items: flex-end;
}

#toastfire-pos-bottom-left {
	bottom: 0.5em;
	left: 0.5em;
}

#toastfire-pos-bottom-middle {
	bottom: 0.5em;
	left: 50%;
	transform: translateX(-50%);
	align-items: center;
}

#toastfire-pos-bottom-right {
	bottom: 0.5em;
	right: 0.5em;
	align-items: flex-end;
}

.toastfire.toastfire-transition-fadeInUp {
	-webkit-animation: 0.5s 1 forwards fadeInUp;
	animation: 0.5s 1 forwards fadeInUp;
}

.toastfire.toastfire-transition-fadeOutUp {
	-webkit-animation: 0.5s 1 forwards fadeOutUp;
	animation: 0.5s 1 forwards fadeOutUp;
}

.toastfire.toastfire-transition-fadeInDown {
	-webkit-animation: 0.5s 1 forwards fadeInDown;
	animation: 0.5s 1 forwards fadeInDown;
}

.toastfire.toastfire-transition-fadeOutDown {
	-webkit-animation: 0.5s 1 forwards fadeOutDown;
	animation: 0.5s 1 forwards fadeOutDown;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutDown {
	from {
		opacity: 1;
		transform: none;
	}

	to {
		opacity: 0;
		transform: translateY(100%);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
		transform: none;
	}

	to {
		opacity: 0;
		transform: translateY(-100%);
	}
}